.fontFamilyCardContainer {
    padding-bottom: .75rem;
    width: 100%;
    margin-top: 0;
    position: relative;
    height: auto;
}

.fontFamilyCard {
    margin-top: 0;
    padding: 1rem;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: inset 0 0 0 1px var(--color-gray-200);
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.fontFamilyCardContainer:not(:hover) {
    .fontFamilyCard {
        transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.fontFamilyCardContainer:hover {
    @media (hover: hover) {
        .fontFamilyCard {
            outline: 2px solid var(--color-blue-600);
            outline-offset: -2px;
            color: var(--color-blue-600);
        }
    }
}

.fontFamilyCard[aria-selected="true"] {
    background-color: rgba(139, 177, 255, 0.1);
    color: var(--color-blue-600);

    & .favoriteButton {
        color: var(--color-blue-600);
        opacity: 1;
        transform: scale(1.1);
    }
}

.fontFamilyCardContainer:active .fontFamilyCard {
    transform: translateY(0) scale(1);
    transition-duration: 0.1s;
}

.fontFamilyCardTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    flex: 0 1 auto;
    overflow: hidden;
}

.fontFamilyCardTitle {
    padding-inline: .25rem;
    font-size: 2.5rem;
    width: fit-content;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-image: repeating-linear-gradient(to bottom,
            var(--color-gray-300) 0px,
            var(--color-gray-300) 1px,
            transparent 1px,
            transparent calc(100% / 4 - .5px),
            var(--color-gray-300) calc(100% / 4 - .5px));

}

.fontFamilyCardStylesContainer {
    padding-inline: .25rem;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.fontFamilyCardStylesText {
    font-size: 1rem;
    line-height: normal;
}

.fontFamilyCardStylesTextSeparator {
    color: var(--color-gray-400);
    font-family: var(--font-family-sans);
}

.fontFamilyCardActions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    flex-shrink: 0;

}

.favoriteButton {
    color: var(--color-gray-700);
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.5rem;
    transform: scale(1);
}

.favoriteButton:hover {
    color: var(--color-blue-600);
    opacity: 1;
    transform: scale(1.1);
    background: none;
}