.fontFamilyCardContainer {
    padding-bottom: .75rem;
    width: 100%;
    margin-top: 0;
    position: relative;
    height: auto;
}

.fontFamilyCard {
    margin-top: 0;
    padding: 1rem;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: inset 0 0 0 1px var(--color-gray-200);
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.fontFamilyCardContainer:hover {
    @media (hover: hover) {
        .fontFamilyCard:hover {
            outline: 2px solid var(--color-primary);
            outline-offset: -2px;
            transform: scale(1.005);
        }
    }
}

.fontFamilyCard[aria-selected="true"] {
    background-color: var(--color-blue-50) !important;

    & .favoriteButton {
        color: var(--color-primary);
        opacity: 1;
        transform: scale(1.1);
    }
}

.fontFamilyCardContainer:active .fontFamilyCard {
    transform: translateY(0) scale(1);
    box-shadow: 0 0 0 0 var(--color-gray-300);
    transition-duration: 0.1s;
}

.fontFamilyCardTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    flex: 0 1 auto;
    overflow: hidden;
}

.fontFamilyCardTitle {
    padding-inline: .25rem;
    font-size: 2.5rem;
    width: fit-content;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-image: repeating-linear-gradient(to bottom,
            var(--color-gray-300) 0px,
            var(--color-gray-300) 1px,
            transparent 1px,
            transparent calc(100% / 4 - .5px),
            var(--color-gray-300) calc(100% / 4 - .5px));

}

.fontFamilyCardStylesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    padding-inline: .25rem;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.fontFamilyCardStylesText {
    font-size: 1rem;
    line-height: normal;
    white-space: nowrap;
}

.fontFamilyCardActions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

}

.favoriteButton {
    color: var(--color-gray-500);
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.5rem;
    transform: scale(1);
}

.favoriteButton:hover {
    color: var(--color-primary);
    opacity: 1;
    transform: scale(1.1);
    background: none;
}