/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* GLOBAL STYLES */
html {
  font-family: "Matter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 2rem;
}

:root {

  color: #213547;
  background-color: #ffffff;

  --font-size-xs: 1rem;
  --font-size-sm: 1.125rem;
  --font-size-base: 1.25rem;
  --font-size-lg: 1.375rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;
  --font-size-3xl: 2.125rem;
  --font-size-4xl: 2.5rem;

  --color-primary: rgb(138, 171, 231);

  --color-gray-50: oklch(98.42% 0.0034 247.86deg);
  --color-gray-100: oklch(12% 9.5% 264deg / 5%);
  --color-gray-200: oklch(12% 9% 264deg / 8%);
  --color-gray-300: oklch(12% 8.5% 264deg / 17%);
  --color-gray-400: oklch(12% 8% 264deg / 38%);
  --color-gray-500: oklch(12% 7.5% 264deg / 50%);
  --color-gray-600: oklch(12% 7% 264deg / 67%);
  --color-gray-700: oklch(12% 6% 264deg / 77%);
  --color-gray-800: oklch(12% 5% 264deg / 85%);
  --color-gray-900: oklch(12% 5% 264deg / 90%);
  --color-gray-950: oklch(12% 5% 264deg / 95%);

  --color-blue-50: oklch(98% 0.01 264deg);
  --color-blue-100: oklch(95% 0.05 264deg);
  --color-blue-200: oklch(90% 0.1 264deg);
  --color-blue-300: oklch(85% 0.15 264deg);
  --color-blue-400: oklch(80% 0.2 264deg);
  --color-blue-500: oklch(75% 0.25 264deg);
  --color-blue-600: oklch(70% 0.3 264deg);
  --color-blue-700: oklch(65% 0.35 264deg);
  --color-blue-800: oklch(60% 0.4 264deg);
  --color-blue-900: oklch(55% 0.45 264deg);
  --color-blue-950: oklch(50% 0.5 264deg);
}

@font-face {
  font-family: 'Matter';
  src: url('./assets/Matter-Regular.woff2') format('woff2');
}

* {
  line-height: calc(1em + 0.5rem);
}


h1 {
  font-size: var(--font-size-4xl);
}

h2 {
  font-size: var(--font-size-3xl);
}

h3 {
  font-size: var(--font-size-2xl);
}

h4 {
  font-size: var(--font-size-xl);
}

h5 {
  font-size: var(--font-size-lg);
}

h6 {
  font-size: var(--font-size-base);
}

p {
  font-size: var(--font-size-sm);
}

.page-title {
  color: var(--color-gray-600);
}

.page-subtitle {
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.fetch-fonts-button {
  background: var(--color-blue-100);
  border: 2px solid var(--color-blue-100);
  border-radius: 8px;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
}

.fetch-fonts-button:hover {
  background: var(--color-blue-200);
  border-color: var(--color-blue-200);
}

.favorites-container .unfavorite-transition {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1s;
}